{# search/templates/search/partials/_pagination_component.html #}
{% load i18n %}

{% if page_obj.has_other_pages %}
<nav aria-label="Search results navigation" class="mt-4">
    <ul class="pagination justify-content-center">

        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?{{ param_name }}={{ page_obj.previous_page_number }}&q={{ query }}">{% translate "Previous" %}</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">{% translate "Previous" %}</span></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active" aria-current="page"><span class="page-link">{{ i }}</span></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?{{ param_name }}={{ i }}&q={{ query }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?{{ param_name }}={{ page_obj.next_page_number }}&q={{ query }}">{% translate "Next" %}</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">{% translate "Next" %}</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}