<!-- blog/templates/blog/partials/_posts_widget.html -->
{% load i18n %}
<div class="card mb-4 shadow-sm border-0">
    <h5 class="card-header">{% translate widget_title %}</h5>
    <div class="list-group list-group-flush">
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="list-group-item list-group-item-action">{{ post.title }}</a>
        {% empty %}
            <span class="list-group-item">{% translate "No posts available." %}</span>
        {% endfor %}
    </div>
</div>