# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# SQLite database
db.sqlite3