asgiref==3.8.1
beautifulsoup4==4.13.4
bleach==6.2.0
Django==5.2.3
django-grappelli==3.0.10
django-js-asset==3.1.2
django-modeltranslation==0.19.15
django-mptt==0.17.0
django-parler==2.3
django-solo==2.4.0
django-summernote==0.8.20.0
django-taggit==6.1.0
Markdown==3.8
pillow==11.2.1
PyMySQL==1.1.1
python-decouple==3.8
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.14.0
webencodings==0.5.1
whitenoise==6.9.0
