<!-- File: categories/templates/categories/partials/_category_tree_component.html -->
{% load mptt_tags %}

{# Add 'list-unstyled' to the main list to remove bullets #}
<ul class="list-unstyled">
    {% recursetree nodes %}
        <li>
            <a href="{{ node.get_absolute_url }}" 
               class="d-block text-decoration-none py-1"
               style="padding-left: calc(1rem + {{ node.level }} * 1.5rem);">
                {{ node.name }}
            </a>

            {% if not node.is_leaf_node %}
                {# The nested list for children also needs the class #}
                <ul class="children list-unstyled">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>