{# File: widgets/templates/widgets/custom_clearable_file_input.html #}

{# This part renders the "Clear" checkbox if an image already exists. #}
{% if widget.is_initial %}
    <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="{{ widget.clear_checkbox_name }}" id="{{ widget.clear_checkbox_id }}">
        <label class="form-check-label" for="{{ widget.clear_checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
    </div>
    {# We show a label for the file input itself #}
    <label class="form-label small text-muted">{{ widget.input_text }}:</label>
{% endif %}

{# This renders the actual <input type="file" ...> button. #}
<input type="{{ widget.type }}" name="{{ widget.name }}" class="form-control" {% include "django/forms/widgets/attrs.html" %}>