<!-- File: templates/widgets/custom_clearable_file_input.html -->

{# We no longer render the default "Clear" checkbox. #}
{# Our logic of choosing a default avatar serves the same purpose. #}
{% if widget.is_initial %}
    {# We can still show the "Change:" label if we want #}
    <label class="form-label small text-muted">{{ widget.input_text }}:</label>
{% endif %}

{# This renders the actual <input type="file" ...> button. #}
<input type="{{ widget.type }}" 
       name="{{ widget.name }}" 
       class="form-control" 
       {% include "django/forms/widgets/attrs.html" %}>