<!-- blog/templates/blog/post_list_by_category.html -->
{% extends 'core/base.html' %}
{% load i18n %}

{# Sobrescribimos los bloques SEO de base.html #}
{% block seo_title %}{{ category.meta_title|default:category.name }}{% endblock %}
{% block seo_description %}{{ category.meta_description|default:'' }}{% endblock %}

{% block title %}{% blocktranslate %}Posts en {{ category.name }}{% endblocktranslate %}{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Encabezado específico de la categoría -->
    <h1 class="display-4 text-center mb-5">
        {# Usamos blocktranslate para incluir el <span> y la variable #}
        {% blocktranslate %}
        Posts en la Categoría: <span class="text-primary">{{ category.name }}</span>
        {% endblocktranslate %}
    </h1>

    <div class="row">
        {% for post in posts %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                {% if post.featured_image %}
                    <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text text-muted">
                        {# Guardamos la variable author_name antes para más limpieza #}
                        {% firstof post.author.get_full_name post.author.username as author_name %}
                        <small>
                            {% blocktranslate with author=author_name published_date=post.published_date|date:"DATE_FORMAT" %}
                                {{ published_date }} - {{ author }}
                            {% endblocktranslate %}
                        </small>
                    </p>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary mt-auto">{% translate "Leer Más" %}s</a>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="col">
                <div class="alert alert-info" role="alert">
                    {% translate "Aún no hay entradas publicadas en esta categoría." %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}