<!-- File: menus/templates/menus/partials/_menu_recursive.html -->
{% load i18n %}

{% for node in nodes %}
    {% with children=node.children.all %}
        {# Comprobamos si el nodo actual debe ser un desplegable #}
        {% if children or node.dynamic_children %}

            {# Si es un hijo de otro dropdown, es un sub-desplegable #}
            {% if node.parent %}
                <li class="dropend"> {# O 'dropstart' para la izquierda #}
                    <a class="dropdown-item dropdown-toggle" href="#" id="submenu-{{ node.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ node.title }}
                    </a>
                    <ul class="dropdown-menu dropdown-submenu" aria-labelledby="submenu-{{ node.id }}">
                        {% if children %}{% include "menus/partials/_menu_recursive.html" with nodes=children %}{% endif %}
                        {% for child in node.dynamic_children %}
                            <li><a class="dropdown-item" href="{{ child.get_absolute_url }}">{{ child.name|default:child.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                {# Es un desplegable de primer nivel en la navbar #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-{{ node.id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ node.title }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{ node.id }}">
                        {% if children %}{% include "menus/partials/_menu_recursive.html" with nodes=children %}{% endif %}
                        {% for child in node.dynamic_children %}
                            <li><a class="dropdown-item" href="{{ child.get_absolute_url }}">{{ child.name|default:child.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% else %}
            {# Es un enlace simple #}
            {% if node.parent %}
                <li><a class="dropdown-item" href="{{ node.get_url }}">{{ node.title }}</a></li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ node.get_url }}">{{ node.title }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endwith %}
{% endfor %}