{# File: posts/templates/posts/post_detail.html #}
{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
  <article>
    <h1>{{ post.title }}</h1>
    <p class="text-muted">
      {% blocktrans with date=post.published_date|date:"F j, Y" %}
        Published on {{ date }}
      {% endblocktrans %}
    </p>

    {% if post.featured_image %}
      <img src="{{ post.featured_image.url }}" class="img-fluid mb-4" alt="{{ post.title }}">
    {% endif %}

    <div class="post-body fs-5">
      {{ post.content|safe }}
    </div>
  </article>
</div>
{% endblock %}
