<!-- File: core/templates/core/partials/_footer.html -->
{# Loads the custom template tags for i18n and menus #}
{% load i18n %}
{% load menu_tags %} {# Aunque ya no lo uses directamente aquí, si lo usas en el partial del menú del pie, cargar aquí es seguro #}
 
<footer class="bg-dark text-white text-center py-3"> {# padding vertical #}
    {# Copyright notice. The 'year' variable is passed to the translation block. #}
    <p class="mb-0">
        {% now "Y" as year %}
        {% blocktranslate with year=year trimmed %}
            &copy; {{ year }} Tavata.art - "A Python and Django CMS project" <i class="fas fa-bee"></i> Fueled by Gustavo M. and Tavata D.
        {% endblocktranslate %}
    </p>

</footer>