{# Loads the custom template tags from our 'menus' app to render the navigation #}
{% load menu_tags %}
{% load i18n %}

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            {# Main site brand/logo, links to the homepage #}
            <a class="navbar-brand" href="{% url 'home' %}">
                <i class="fas fa-bee"></i> Tavata CMS
            </a>

            {# Mobile navigation toggle button #}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {# Collapsible navigation container #}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {# Here we call our custom template tag to dynamically render the main menu. #}
                    {# The menu itself is managed in the Django admin. #}
                    {% show_menu 'main-menu' %}
                </ul>

                {# --- NEW SEARCH FORM --- #}
                {# This form submits data to the 'search_results' URL name using the GET method. #}
                <form class="d-flex" ...>
                    {# La primera cadena a traducir #}
                    <input class="form-control me-2" type="search" name="q" placeholder="{% translate 'Search...' %}" aria-label="Search">

                    {# La segunda cadena a traducir #}
                    <button class="btn btn-primary" type="submit">{% translate "Search" %}</button>
                </form>
            </div>
        </div>
    </nav>
</header>